<h1>Books</h1>
<ul>
  <% @books.each do |book|
    if book.reviews.any?
      avg = book.reviews.map { |x| x["rating"].to_i } .reduce(:+) / book.reviews.size
    end
  %>
    <li><%= link_to book.name, book_path(book) %> by <%= link_to book.author, book_path(book)%> published on <%= book.creation_date %>, average rating: <%= avg %></li>
  <% end %>
</ul>

<p>Sort by:
  <%= link_to "Title", books_path(order: 'name') %>
  or
  <%= link_to "Author", books_path(order: 'author') %>
</p>
<%= link_to "Add New Book", new_book_path, class: "btn btn-info" %>
